# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Eclipse / STS
.classpath
.project
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/

# VS Code
.vscode/

# Logs
*.log

# Environment files
.env

# Spring Boot
HELP.md